.container {
    margin-left: 4rem;
    margin-top: 4rem;
  }
.container div {
    width: 70px;
    height: 60px;
    border: 1px solid black;
    display:inline-block;
    position:relative;
  }

.container div:nth-child(2n) {
    border: 1px solid red;
}

.container div:nth-child(2n+1) span:nth-child(2n) {
    color: green;
}

.container div:nth-child(2) span:last-of-type {
    color: blue;
}

.container div:nth-child(6) span:not( :last-of-type)  {
    color: yellow;  
}

.container div span:nth-child(1) {
    position: absolute;
    top: 100%;
    right: 50%;

}

.container div span:nth-child(2) {
    position: absolute;
    top: -40%;
    right: 50%;

}

.container div:nth-child(10) span:nth-child(4) {
    position: absolute;
    right: -40%;
    top: 40%;
}

.container div:nth-child(1) span:nth-child(4) {
    position: absolute;
    right: 120%;
    top: 40%;
}